:root {
  --primary-color:  #FFFFFF;
  --secondary-color: #FDF4EC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: none;
}

.app-header {
  background-color: var(--primary-color);
  box-shadow: 3px 3px 10px #888;
}

.app-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10 px;
}

.app-header .logo {
  width: 80px;
  margin-bottom: 16px;
}

.subheader {
  color: #593584;
  font-family: Calistoga;
  margin: 0 auto 16px auto;
  width: 90%;
  padding: 10px;
  display: flex;
  text-align: center;

}

.subheader h3 {
  padding: 15px;

}


.content {
  background-color: var(--secondary-color);
}
