:root {
  --primary-color:  #FFFFFF;
  --secondary-color: #FDF4EC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: none;
}

.app-header {
  background-color: var(--primary-color);
  box-shadow: 3px 3px 10px #888;
}

.app-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10 px;
}

.app-header .logo {
  width: 80px;
  margin-bottom: 16px;
}

.subheader {
  color: #593584;
  font-family: Calistoga;
  margin: 0 auto 16px auto;
  width: 90%;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;

}

.subheader h2 {
  padding: 15px;
  font-size: 32px;
}

.subheader i {
  color: #B97A6C;
}

.content {
  background-color: var(--secondary-color);
  flex: 1 0 auto;
}

.concurrent h3 {
  font-size: 16px;
  color: #B97A6C;
}

.info h4 {
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border: 1px #ccc solid;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #ccc solid;
  background-color: var(--primary-color);
  margin-bottom: 20px;
}

.grid .item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.grid .item p {
  color: gray;
  font-size: 20px;
}

.grid .item i {
  color: #593584;
}

.icon {
  font-size: 36px;
}

.app-footer {
  background-color: var(--primary-color);
  padding: 10px;
  margin-top: 10px;
  color: lightgrey;
  font-size: 16;
  flex-shrink: 0;
}

.app-footer a {
  color: #593584;
  font-size: 24px;
}

.app-footer a:hover {
  color: white;
}

.app-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-footer p {
  display: flex;
  justify-content: left;
}
